@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #add8e6;
}

.main{
    min-height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active{
    filter: blur(15px);
    pointer-events: none;
}

.container{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.home{
    position: relative;
    left: -25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    max-width: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0 0 0 .3);
}

.home-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0 0 0 .3);
}

.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: #00008b;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px #00008b;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover{
    background: #09001d;
    box-shadow: none;
}

.popup-info{
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50% -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3 ease;
}
.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% -50%) scale(1);
}
.popup-info h2{
    font-size: 50px;
    color: #00008b;
}

.popup-info .info{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}


.popup-info .btn-grp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-grp .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #00008b;
    border: 2px solid #00008b;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0 0 0 .1);
    cursor: pointer;
}

.popup-info .btn-grp .info-btn:nth-child(1){
    background: transparent;
    color: #00008b;
}

.popup-info .btn-grp .info-btn:nth-child(1):hover{
    background: #00008b;
    color: #fff;
}

.popup-info .btn-grp .info-btn:nth-child(2):hover{
    background: #00008b;
    border-color: #00008b;
}

.info-btn .continue-btn{
    text-align: center;
}

.quiz-section{
    position: relative;
    left: -90%;
    /* left: 0; */
    width: 100%;
    background: #010114;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .3s ease-in-out;
    transition-delay: .25s;
}

.quiz-section.active{
    left: 0;
    min-width: 100vw;
}

.quiz-section .Quiz-box{
    position: relative; 
    width: 500px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
} 

.quiz-section .Quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.Quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg,transparent,#1313b8,transparent);
    border-radius: 6px;
}


.Quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #00008b;
    margin-bottom: 30px;
}

.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score{
    background: #1313b8;
    border-radius: 3px;
    padding: 7px;
}

.Quiz-box .question-text{
    font-size: 24px;
    font-weight: 600;
}

.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.801);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;

}

.option-list .option:hover{
    background: rgba(255, 255, 255, 0.39);
    border-color: rgba(255, 255, 255, 0.459);
}

.Quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #1313b8;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.quiz-footer .next-btn:hover{
    background: #1313b8;
    border-color: #1313b8;
}